version: '3.8'

services:

  mongo:
    image: mongo:6
    container_name: mean-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: examplepassword
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: mean-backend
    ports:
      - "8080:8080"
    environment:
      - MONGO_URL=mongodb://mean-mongo:27017/meanDB
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: mean-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  mongo-data:
