name: CI/CD Pipeline

on:
  push:
    branches:
      - main

env:
  BACKEND_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/mean-backend
  FRONTEND_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/mean-frontend
  PROJECT_DIR: /home/ubuntu/crud-dd-task-mean-app

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Backend Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: backend/Dockerfile
          push: true
          tags: ${{ env.BACKEND_IMAGE }}:latest

      - name: Build Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: frontend/Dockerfile
          push: true
          tags: ${{ env.FRONTEND_IMAGE }}:latest

  deploy:
    needs: build_and_push
    runs-on: ubuntu-latest

    steps:
      - name: Install SSH client
        run: sudo apt-get install -y openssh-client

      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.VM_SSH_PRIVATE_KEY }}

      - name: Add known hosts
        run: |
          echo "${{ secrets.VM_SSH_KNOWN_HOSTS }}" >> ~/.ssh/known_hosts

      - name: Deploy on VM
        run: |
          ssh ${{ secrets.VM_SSH_USER }}@${{ secrets.VM_SSH_HOST }} "
            cd $PROJECT_DIR &&
            git pull &&
            docker compose pull &&
            docker compose up -d --remove-orphans
          "
